{% extends "main.html.jinja" %}
{% block content %}
  <ul>
  {% block page_entry %}
  {% for entry in content|reverse %}
    <li>{% if entry.date %}<span class="date">{{ entry.date }}</span>{% endif %}<a href="{{ entry.filename }}">{{ entry.page_title|default(entry.filename) }}</a></li>
  {% endfor %}
  {% endblock %}
  </ul>
{% endblock %}
