<!DOCTYPE html>

<html lang="en">
<head>
<title>{{ page_title|default('Untitled page') }} - {{ site_title }}</title>
<meta charset="utf-8">
<link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/main.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
    <p id="site-name">{{ site_title }}</p>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/resources">Useful resources</a></li>
    <li><a href="/images">Images</a></li>
    <li><a href="/about.html">About</a></li>
    </ul>
    </nav>
</header>

<h1>{{ page_title|default('Untitled page') }}</h1>

<div id="main-content">
    {% block content %}{{ content }}{% endblock %}
</div>

<footer><p>Example footer</p></footer>

</body>
</html>

