html, body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
}

header {
    background-color: rgba(2,2,2,0.50);
    text-align: left;
    color: #ffc;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#site-name {
    margin: 1em;
    display: inline-block;
    min-width: 4em;
    font-size: 1em;
    font-weight: bold;
}

header nav {
	font-weight: bold;
	background-color: rgba(2,2,2,0.25);
	display: inline-block;
    vertical-align: top;
}


nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding 10vh;*/
}

nav li:hover {
	background-color: blue;
	background-color: rgba(0,0,255,0.25);
}

header li a {
    color: #ffc;
    transition: color .3s linear .1s;
    display: block;
    padding: 1em;
}

header li a:hover {
    color: rgba(255,0,0,1);
}

h1 {
    text-align: center;
    color: black;
    font-variant: normal;
}

#main-content {
    min-height: 100%;
	margin: 1%;
	color: black;
	width: 50%;
	margin: 1% auto;
}

#main-content ul {
    list-style-type: none;
}

#main-content li {
    margin: 1%;
}

#main-content li span {
    margin: 1%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    #background-color: #45a1ff;
    #color: #fff;
	background-color: rgba(2,2,2,0.50);
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0.5%;
	text-align: center;
	color: #ffc;
	font-weight: bolder;
	word-spacing: 1px;
	letter-spacing: 1px;
}

footer p {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
