<!-- {"page_title":"Hosting services"} -->

<p>A list of known hosting services:
    <ul>
        <li>https://neocities.org/</li>
        <li>https://ichi.city/</li>
        <li>https://pages.github.com/</li>
        <li>https://docs.gitlab.com/ee/user/project/pages/</li>
        <li>https://docs.codeberg.org/codeberg-pages/</li>
    </ul>
</p>