<!-- {"page_title":"Web development resources"} -->

<p>Useful web development resources:
    <ul>
        <li>https://htmldog.com/</li>
        <li>http://www.csszengarden.com/</li>
        <li>https://developer.mozilla.org/en-US/</li>
        <li>https://jigsaw.w3.org/css-validator/</li>
    </ul>
</p>