<!-- {"page_title":"First blog post","date":"2020-06-31","last_update":"2022-09-27","author":"fbabetto"} -->
<article>
    <h2>Test blog entry number 1</h2>
    <p>
    <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Mauris faucibus diam non dolor rutrum, posuere egestas orci venenatis.</li>
    <li>Nulla aliquet purus vel nulla laoreet sollicitudin.</li>
    <li>Duis tincidunt orci ullamcorper ex blandit, in molestie odio placerat.</li>
    <li>Integer condimentum lacus ut enim tempor, sed rhoncus nulla commodo.</li>
    </ul>
    </p>
    <p>
    <ul>
    <li>Vivamus in enim tincidunt tellus rhoncus lacinia sed et arcu.</li>
    <li>Nam dignissim arcu ac iaculis ultricies.</li>
    <li>Cras vel ipsum nec quam egestas semper.</li>
    <li>Quisque volutpat elit eu purus scelerisque mattis.</li>
    </ul>
    </p>
    <p>
    <ul>
    <li>Aenean in lorem condimentum tortor blandit iaculis quis nec elit.</li>
    </ul>
    </p>
    <p>
    <ul>
    <li>Mauris nec augue vitae orci bibendum egestas.</li>
    <li>Proin tempus leo id accumsan rutrum.</li>
    <li>Etiam vel elit et neque gravida mollis.</li>
    </ul>
    </p>
    <p>
    <ul>
    <li>Sed sit amet leo vehicula, convallis ligula ac, lacinia massa.</li>
    <li>Curabitur sit amet ipsum bibendum urna eleifend viverra a ultrices lorem.</li>
    <li>Suspendisse quis magna sit amet mauris tincidunt sodales vel at orci.</li>
    <li>Ut sodales sem at diam rutrum, non pulvinar turpis malesuada.</li>
    </ul>
    </p>
</article>