{% extends "index.html.jinja" %}
{% block page_entry %}
{% for entry in content|reverse %}
<li>{% if entry.date %}<span class="date">{{ entry.date }}</span>{% endif %}<a href="{{ entry.filename }}">{{ entry.page_title|default(entry.filename) }}</a><span>{{ entry.author }}</span></li>
{% endfor %}
{% endblock %}