<!-- {"page_title":"Resources"} -->

    <p>This is an example of custom index page, <em>not</em> generated with <code>gen_index()</code></p>
    <ul>
        <li><a href="web-dev/resources.html">Web development resources</a></li>
        <li><a href="web-dev/hosting.html">Site offering static pages hosting</a></li>
        <li><a href="python/resources.html">Python resources</a></li>
    </ul>
